Flask==2.3.2
Flask-SQLAlchemy==3.0.3
Flask-Login==0.6.2
Flask-Mail==0.10.0
Flask-WTF==1.1.1
Werkzeug==2.3.3
SQLAlchemy==2.0.19
psycopg2-binary==2.9.6
python-dotenv==1.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
WTForms==3.0.1
email-validator==2.0.0.post2
weasyprint==62.3
gunicorn==23.0.0
pandas==2.2.3
numpy==2.1.2
